{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'gym/style.css' %}">
</head>
<body>

<header class="header">
    <div class="logo">FitShop</div>

    <nav class="menu">
        <a href="{% url 'home' %}">Головна</a>

        {% for category in categories %}
            <a href="{% url 'category_products' category.id %}">{{ category.name }}</a>
        {% endfor %}
    </nav>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <p>FitShop — магазин спортивних товарів для тренувань, харчування та активного життя.</p>
    <p>Автор: Захар Машманюк</p>
</footer>

</body>
</html>