{% extends 'gym/base.html' %}

{% block content %}

<section class="page-title">
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
</section>

<div class="cards">
    {% for product in products %}
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}

            <div class="card-body">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="price">{{ product.price }} грн</p>

                <a class="btn" href="{% url 'product_detail' product.id %}">
                    Детальніше
                </a>
            </div>
        </div>
    {% empty %}
        <p>У цій категорії поки немає товарів.</p>
    {% endfor %}
</div>

{% endblock %}