{% extends 'gym/base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1>FitShop</h1>
        <p>Магазин спортивних товарів для тренувань вдома та в залі.</p>
    </div>
</section>

<section class="info-grid">
    <div class="info-card">
        <h3>Каталог товарів</h3>
        <p>Переглядай спортивні товари по категоріях.</p>
    </div>

    <div class="info-card">
        <h3>Кошик</h3>
        <p>Додавай товари в кошик перед покупкою.</p>
    </div>

    <div class="info-card">
        <h3>Оцінки товарів</h3>
        <p>Кожен користувач може оцінити товар.</p>
    </div>
</section>

<h2 id="catalog" class="section-title">Категорії товарів</h2>

<div class="cards">
    {% for category in categories %}
        <div class="card">
            {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
{% elif product.image_url %}
    <img src="{{ product.image_url }}" alt="{{ product.name }}">
{% endif %}
            <div class="card-body">
                <h3>{{ category.name }}</h3>
                <p>{{ category.description }}</p>
                <a class="btn" href="{% url 'category_products' category.id %}">
                    Переглянути категорію
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<h2 class="section-title">Популярні товари</h2>

<div class="cards">
    {% for product in products %}
        <div class="card">

            <div class="card-body">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="price">{{ product.price }} грн</p>
                <a class="btn" href="{% url 'product_detail' product.id %}">
                    Детальніше
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<section class="newsletter">
    <h2>Підписка на розсилку</h2>
    <p>Залиш email, щоб отримувати новини про спортивні товари та акції.</p>

    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Ваш email" required>
        <button class="btn" type="submit">Підписатися</button>
    </form>
</section>

{% endblock %}