{% extends 'gym/base.html' %}

{% block content %}

<section class="page-title">
    <h1>Зміна пароля</h1>
    <p>Введіть код з email та новий пароль.</p>
</section>

<div class="form-box">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <input type="text" name="code" placeholder="Код" required>
        <input type="password" name="new_password" placeholder="Новий пароль" required>

        <button class="btn" type="submit">Змінити пароль</button>
    </form>
</div>

{% endblock %}