{% extends 'gym/base.html' %}

{% block content %}

<section class="page-title">
    <h1>Реєстрація</h1>
</section>

<div class="form-box">
    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Логін" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Пароль" required>

        <button class="btn" type="submit">Зареєструватись</button>
    </form>
</div>

{% endblock %}